.flex-container{
  display: flex;
  flex-wrap: nowrap;
  background-color: dodgerblue;
  
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex-grow: 1; 

}
.grid-container{
display: grid;
grid-template-areas: 'header header header header header' 'menu main main main right' 'footer footer footer footer footer';
gap:10px;
background-color: #2196F3;
padding: 10PX;
}
.grid-item1{
  grid-area: header;
}
.grid-item2{
  grid-area:menu;
}
.grid-item3{
  grid-area: main
}
.grid-item4{
  grid-area: right;
}
.grid-item5{
  grid-area: footer;
}


.grid-container div{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}
.grid-container2{
  display: grid;
  grid-template-columns:100px 100px 100px;
  background-color:#2196F3;
  padding: 20px;
  gap:10px;
  grid-template-areas: 'A A A' 'B C D' 'B E E';

}
.grid-container2 div{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}
.grid-itemA{
  grid-area: A;
}
.grid-itemB{
  grid-area: B;
}
/* .grid-itemC{
  grid-area: C;
}
.grid-itemD{
  grid-area: D;
} */
.grid-itemE{
  grid-area: E;
}