h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    max-width: 50ch;
  }
  
  p {
    font-size: 1.20rem;
    max-width: 70ch;
    line-height: 150%;
    opacity: 0.5;
  }
  
  /* Presentational styles */
  article {
    width: 100%;
  }
  
  article > * + * {
    margin-top: 1.25em;
  }
  